*,
*::before,
*::after {
    box-sizing: border-box;
}

input, select {
    -webkit-appearance: none;
    box-shadow: none;
    outline: none;
}

html {
    line-height: 1.15;
}

body {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #000;
}

body, button {
    font-family: 'Montserrat', sans-serif;
}

button,
button.primary {
    width: 212px;
    height: 56px;
    margin: 0;
    padding: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    background: #8E43ED;
    color: #FFFFFF;
    border: 1px solid #D9BBFF;
    border-radius: 12px;
}

button:hover,
button.primary:hover {
    background: #6813D3;
    cursor: pointer;
}

button:active,
button.primary:active {
    background: #500AA9;
}

button[disabled],
button.primary[disabled] {
    background: #DED9E4;
    border: 1px solid #DED9E4;
    cursor: default;
}

button.secondary {
    background: #FFFFFF;
    border-color: #8E43ED;
    color: #8E43ED;
}

button.secondary:hover {
    background: #FAF8FE;
    border-color: #8E43ED;
    color: #8E43ED;
}

button.secondary:active {
    background: #F0E5FE;
    border-color: #8E43ED;
    color: #8E43ED;
}

button.secondary[disabled] {
    background: #FFFFFF;
    border: 1px solid #D9BBFF;
    color: #D9BBFF;
}

input,
select {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    height: 56px;
    margin: 0;
    padding: 16px;
    text-transform: none;

    background: #FFFFFF;
    border: 1px solid #D9BBFF;
    border-radius: 12px;
    color: #303030;
}

input,
select {
    width: 416px;
}

select {
    color: #9F9F9F;
    cursor: pointer;
    background: #FFFFFF url("../assets/select-arrow.svg") no-repeat center;
    background-position-x: 270px;
}

select.active {
    color: #303030;
}

input:hover, input:focus, input.active,
select:hover, select:focus, select.active {
    border: 1px solid #8E43ED;
}

input.error {
    background: #FFF5F5;
    border: 1px solid #ED4376;
}

label, .error-message {
    font-weight: 600;
    line-height: 19px;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
}

.error-message {
    font-size: 13px;
    margin-top: 4px;
    margin-left: 8px;
    color: #ED4376;
}

::placeholder {
    color: #9F9F9F;
}

ul {
    list-style: none;
    padding: 0;
}

/* typo */

h1, h2, h3 {
    font-style: normal;
    font-weight: 800;
    color: #303030;
}

h1 {
    font-size: 56px;
    line-height: 72px;
}

h2 {
    font-size: 40px;
    line-height: 72px;
}

h3 {
    font-size: 27px;
    line-height: 36px;
}

.small-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #303030;
}

ul {
    margin: 0;
}

p {
    margin: 0;
}

@media (max-width: 375px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
    }

    h2 {
        font-size: 32px;
        line-height: 41px;
    }

    h3 {
        font-size: 20px;
        line-height: 24px;
    }

    body {
        font-size: 15px;
        line-height: 24px;
    }

    small {
        font-size: 14px;
        line-height: 16px;
    }
}

